* {
    font-family: 'Roboto Slab', serif;
}

.image-container {
    height: 92vh;
    min-height: 700px;
    width: 100%;
}

.main1 {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1) 100%), url(recursos/justinmain.jpg);
}

.main2 {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1) 100%),url(recursos/toomeymain.png);
}

.main3 {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1) 100%),url(recursos/vellnermain.jpg);
}

.main4 {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1) 100%),url(recursos/horvathmain.jpg);
}

.main5 {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1) 100%),url(recursos/gudmunsonmain.png);
}

.main6 {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1) 100%),url(recursos/malmain.png);
}

.cf_logo {
    background-image: url(recursos/cf_logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 400px;
    height: 200px;
    margin: auto;
}

.power {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    margin-top: -50px;
}

@media (max-width: 992px) {
    .main1 {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1) 100%), url(recursos/justinmain.jpg);
    }

    .main2 {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1) 100%), url(recursos/toomeymain.png);
    }

    .main3 {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1) 100%), url(recursos/vellnermain.jpg);
    }

    .main4 {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1) 100%), url(recursos/horvathmain.jpg);
    }

    .main5 {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1) 100%), url(recursos/gudmunsonmain.png);
    }

    .main6 {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1) 100%), url(recursos/malmain.png);
    }
}

.athlete_photo {
    border-radius: 50%;
    overflow: hidden;
    height: 50px;
    width: 50px;
    margin: auto;
}

.men1 {
    background-image: url(recursos/men1.jpg);
    background-size: cover;
    background-position: center;
}

.men2 {
    background-image: url(recursos/men2.jpeg);
    background-size: cover;
    background-position: center;
}

.men3 {
    background-image: url(recursos/men3.jpg);
    background-size: cover;
    background-position: center;
}

.men4 {
    background-image: url(recursos/men4.png);
    background-size: cover;
    background-position: center;
}

.men5 {
    background-image: url(recursos/men5.jpg);
    background-size: cover;
    background-position: center;
}

.women1{
    background-image: url(recursos/women1.jpeg);
    background-size: cover;
    background-position: center;
}

.women2{
    background-image: url(recursos/women2.jpeg);
    background-size: cover;
    background-position: center;
}

.women3{
    background-image: url(recursos/women3.jpg);
    background-size: cover;
    background-position: center;
}

.women4{
    background-image: url(recursos/women4.jpeg);
    background-size: cover;
    background-position: center;
}

.women5{
    background-image: url(recursos/women5.jpg);
    background-size: cover;
    background-position: center;
}

:root{
    --bar-width: 40px;
    --bar-height:8px;
    --hamburger-gap:6px;
    --animation-timing:200ms ease-in-out;
    --hamburger-height:calc(var(--bar-height) * 3 + var(--hamburger-gap)*2);
    --hambuger-margin:8px;
}

.hamburger-menu{
    --x-width:calc(var(--hamburger-height)* 1.414213566237);
    gap: var(--hamburger-gap);
    width: var(--bar-width);
    position: absolute;
    top: 5px;
    left: 20px;
}

.hamburger-menu input{
    appearance: none;
    pointer-events: none;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: #000;
    border-radius: 10px;
    transition: opacity var(--animation-timing), width var(--animation-timing);
    transform-origin: left center;
    outline: 2px solid white;
}

.hamburger-menu input:checked{
    width: 0;
    opacity: 0;
}

.hamburger-menu:has(input:checked)::before{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/-2);
}

.hamburger-menu:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/2);
}

.sidebar{
    padding: calc(1rem + var(--hamburger-height)) 1rem;
    translate: -100%;
    transition: translate var(--animation-timing);
    background-color: rgb(0, 0, 0, 0.8);
    min-width: 10rem;
    height: 45vh;
    color: white;
    border-radius: 5px;
}

.hamburger-menu:has(input:checked) + .sidebar{
    translate: 0;
}

#women-table{
    display: none;
}

.newsletter h5{
    color: white;
}

